//This file is to add custom styles for the form to improve UI

.form__title {
    text-align: center;
    margin-top: 5rem;
}

#newExampleForm {
    margin: 2rem auto;
    width: 60%;
    border: 1px solid #eee;
    padding: 5rem;
}

.btn {
    width: 100%;
}